<div id="menu-wrapper">
  <ul class="menu">
    <li class="menu-li"><a href="/">Dashboard</a></li>
    <li class="menu-li">Analytics
    <ul class="menu-ul">
      <li><a href="activity">Active / Idle</a></li>
      <li><a href="tasks">Task Scheduler</a></li>
      <li><a href="">CPU% Utilization (N/A)</a></li>
      <li><a href="">Memory% Utilization (N/A)</a></li>
    </ul></li>
    <!--
    <li class="menu-li">Energy Management</li>
    <ul class="menu-ul">
      <li><a href="">Bare Metal Host</a></li>
      <li><a href="">Hypervisor Host</a></li>
    </ul>
    -->
    <li class="menu-li">Configuration
    <ul class="menu-ul">
      <li><a href="config?m=site">Site</a></li>
      <li><a href="config?m=unit">Business Unit</a></li>
      <li><a href="config?m=family">Product Family</a></li>
      <li><a href="config?m=project">Project Registry</a></li>
      <li><a href="host?m=controller">Management Controller</a></li>
      <li><a href="host?m=hypervisor">vSphere Hypervisor</a></li>
      <li><a href="machine?m=standalone">Standalone Machine</a></li>
      <li><a href="machine?m=virtual">Virtual Machine</a></li>
      <li><a href="idle">Idle Duration</a></li>
    </ul></li>
  </ul>
</div>